[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
colorlog = "*"
"e1441f2" = {file = "https://github.com/Ezibenroc/pytree/releases/download/0.0.2/pytree-0.0.2-py3-none-any.whl"}
pyyaml = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
graphviz = "*"
matplotlib = "*"
altair = "*"
pandas = "*"
vega-datasets = "*"
scipy = "*"
palettable = "*"

[requires]
python_version = "3.6"
