[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
colorlog = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
"d0d3b99" = {file = "https://github.com/Ezibenroc/pytree/releases/download/0.0.1/pytree-0.0.1-py3-none-any.whl"}
graphviz = "*"
matplotlib = "*"
altair = "*"
pandas = "*"

[requires]
python_version = "3.6"
